.container{
    border: 1px solid orange;
}
.container ul li{
    list-style-type: none;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.header {
    background: #2f3649 none repeat scroll 0 0;
    clear: both;
    font-family: 'open_sansregular';
}

.navbar-right {
    float: right;
}

.navbar-right ul {
    color: #fff;
    float: left;
    font-size: 13px;
    list-style-type: none;
    margin: 8px 0 0;
    padding: 0;
}

.navbar-right ul li {
    padding: 0 10px;
}

.navbar-right ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #2f3649;
    padding: 0px 0 0 0 !important;
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #63697f;
    line-height: 24px;
    display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #000 !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #026bb9;
    color: #000;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #026bb9;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
    position: absolute;
    top: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    padding: 8px 15px;
    color: #000;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
    background-color: #c52d2f;
    color: #000;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
    background-color: transparent;
}

